
//Centring
@mixin centring {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Circle
@mixin circle($dimensions){
  border-radius: 50%;
  width: $dimensions;
  height: $dimensions;
}

//Flex
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Grid
@mixin grid($dimensions) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($dimensions, 1fr));
  gap: 40px;
}

//overlay
@mixin overlay($color, $opacity) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color, $opacity);
}
