//information
.information {
  .container {
    .content {
      .contact-form {
        @include grid(300px);
      }
    }
  }
}

// Start Office
.office {
  .container {
    .content-up {
      .tabs {
        display: flex;
        flex-direction: column;
      }

      .tab-labels {
        display: flex;
        cursor: pointer;
        margin-bottom: $base-margin * 3;
        background-color: $bg-color;
        border-radius: $base-border-radius * 2;
        padding: $base-padding;
        width: fit-content;
      }

      .tab-labels label {
        padding: 10px 30px;
        background: $bg-color;
        margin-right: 10px;
        border-radius: $base-border-radius;
        border: $base-border-thikness * 2 solid $border-color;
      }

      input[type="radio"] {
        display: none;
      }

      .tab-content {
        display: none;
        .up-card {
          display: flex;
          gap: 15px;
          .contact-box {
            padding: $base-padding;
            border: 1px solid $border-color;
            padding: 15px;
            border-radius: $base-border-radius * 2;
            flex-basis: 50%;
            small {
              font-size: 13px;
            }

            h2 {
              margin: $base-margin * 2 0;
            }
            p {
              color: $text-color;
            }

            .info-items {
              margin: $base-margin * 2 0;
              display: flex;
              gap: $base-gap/2;
              margin-bottom: $base-margin * 2;

              .info-item {
                border: $base-border-thikness solid $border-color;
                border-radius: $base-border-radius * 6;
                background-color: $bg-color;
                padding: $base-padding;

                &:hover {
                  border-color: $primary-color;
                }
              }
            }

            .get-direction {
              background-color: $primary-color;
              padding: $base-padding * 1.5;
              border-radius: $base-border-radius * 2;
              width: 100%;
              display: block;
              text-align: center;
            }
          }
        }
      }

      #tab1:checked ~ .tab-labels label[for="tab1"],
      #tab2:checked ~ .tab-labels label[for="tab2"],
      #tab3:checked ~ .tab-labels label[for="tab3"] {
        background: #0c0c0c;
        border-color: $primary-color;
      }

      #tab1:checked ~ .content #content1,
      #tab2:checked ~ .content #content2,
      #tab3:checked ~ .content #content3 {
        display: block;
      }
    }
  }
}

// Start estateins
.estateins {
  margin: $base-margin * 8 0;
  .container {
    .section-container {
      padding: $base-padding * 4;
      border: $base-border-thikness solid $border-color;
      border-radius: $base-border-radius * 2;
      background-color: $bg-color;
      transition: $main-transition;
      &:hover {
        border-color: $primary-color;
      }
    }

    .grid-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto auto;
      gap: 1rem;
      .grid-item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        &.text-content {
          padding: 5px 0;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          grid-column: span 2;
          img{
            width: auto !important;
            height: auto !important;
            border-radius: 0;
          }
          h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
          }
          p {
            font-size: $base-font-size * 1.4;
            color: $text-color;
          }
        }
      }
      > div {
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            @if $i == 4 or $i == 5 {
              grid-column: span 1;
            } @else {
              grid-column: span 2;
            }
          }
        }
      }
    }

    /* Responsive Design */
    @media (max-width: 900px) {
      .grid-gallery {
        grid-template-columns: 1fr 1fr;
      }
      .text-content,
      .grid-gallery > div:nth-child(6) {
        grid-column: span 2;
      }
    }
  }
}
